.titulo-about{
    margin-left:0.6em;
    font-size: 1.2em;
}

.img-card{
    border-radius: 100%;
    overflow: hidden;
    width: 6em;
    height: 6em;
}

.titulo-card{
    font-size: 1.4em;
}

.mg-top{
    margin-top: 4em;
}