.titulo-login{
    margin-top: 0.8em;
    color: #ffffff
}
.link-recuperar{
    margin-top: 1rem;
    margin-left: 1.5rem;
    text-decoration: none;
    color: yellow;
}
.icono{
    width: 70px;
    height: 70px;
}
.mtop{
    margin-top: 1.5rem;
}